@charset "UTF-8";


/**
* Normalize CSS
*/

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*="wpp-option-list"] {
    margin-bottom: 20px;
}

.wpp_content {
    margin-bottom: 20px;
}

.wpp-button {
    display: inline-block;
    line-height: normal;
    padding: 10px 16px;
    background: #000;
    border: 0;
    border-radius: 4px;
    color: #fff;
    transition: 0.3s;
    min-width: 99px;
}

.wpp-buttons .wpp-button {
    margin:  0 7px 7px 0;
}

.wpp-button-orange {
    background: #ffb023;
}

.wpp-button-green {
    background: #4CAF50;
}

.wpp-button-red {
    background: #F44336;
}

.wpp-button:hover, .wpp-button:focus {
    background: #2a2a2a;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.wpp_poll_title {
    margin-bottom: 15px;
}

.wpp-option-single {
    word-break: break-word;
    position: relative;
}

.wpp-option-single label {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    margin: 0;
}


/**
* Countdown Timer
 */

[class*="wpp-countdown-timer"] {
    margin-bottom: 20px;
}

[class*="wpp-countdown-timer"] > span {
    margin-bottom: 20px;
}

.wpp-countdown-timer-1 > span {
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
    font-size: 16px;
    line-height: 20px;
}

.wpp-countdown-timer-1 > span:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

.wpp-countdown-timer-1 .count-number {
    margin-right: 5px;
    font-weight: bold;
    font-size: 20px;
}

.wpp-countdown-timer-2 > span {
    display: inline-block;
    margin-right: 25px;
    padding-right: 25px;
    border-right: 1px solid rgba(0,0,0,0.1);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.wpp-countdown-timer-2 > span:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

.wpp-countdown-timer-2 .count-number {
    margin-right: 5px;
    font-weight: bold;
    font-size: 42px;
    line-height: 32px;
    margin-bottom: 10px;
    display: block;
}


.wpp-countdown-timer-3 > span {
    display: inline-block;
    margin-right: 25px;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 16px;
    text-align: center;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.wpp-countdown-timer-3 .count-number {
    margin-right: 5px;
    font-weight: bold;
    font-size: 42px;
    line-height: 32px;
    margin-top: 30px;
    margin-bottom: 6px;
    display: block;
}


.wpp-countdown-timer-4 > span {
    display: inline-block;
    margin-right: 25px;
    border-left: 4px solid rgba(248, 0, 19, 0.17);
    border-right: 4px solid rgba(76, 175, 80, 0.17);
    font-size: 16px;
    text-align: center;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.wpp-countdown-timer-4 .count-number {
    margin-right: 5px;
    font-weight: bold;
    font-size: 42px;
    line-height: 32px;
    margin-top: 30px;
    margin-bottom: 6px;
    display: block;
    color: #4dd7fd;
}

.wpp-countdown-timer-5 > span {
    display: inline-block;
    margin-right: 25px;
    font-size: 16px;
    text-align: center;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    margin-bottom: 25px;
    color: #fff;
    background-color: #009688;
    background-image: linear-gradient(-225deg, #009688 0%, #89d432 100%);

}

.wpp-countdown-timer-5 .count-number {
    margin-right: 5px;
    font-weight: bold;
    font-size: 42px;
    line-height: 32px;
    margin-top: 30px;
    margin-bottom: 6px;
    display: block;
}


/**
* Poll Option - 1
*/

.wpp-option-list-1 {
    max-width: 400px;
}

.wpp-option-list-1 .wpp-option-single {
    padding: 15px;
    background: #f5f5f5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
    margin-bottom: 15px;
    border-radius: 5px;
    line-height: normal;
}

.wpp-option-list-1 .wpp-option-single input {
    position: absolute;
    opacity: 0;
}
.wpp-option-list-1 .wpp-option-single input + label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    display: block;
}

.wpp-option-list-1 .wpp-option-single input + label:before {
    content: '';
    left: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.wpp-option-list-1 .wpp-option-single input[type="radio"] + label:before {
    border-radius: 50%;
}

.wpp-option-list-1 .wpp-option-single input:hover + label:before,
.wpp-option-list-1 .wpp-option-single input:checked + label:before {
    background: #40a544;
}

.wpp-option-list-1 .wpp-option-single input + label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    background: white;
    width: 2px;
    height: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translateY(-50%);
    opacity: 0;
    transition: 0.3s;
}

.wpp-option-list-1 .wpp-option-single input:checked + label:after {
    opacity: 1;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
}

/**
* Poll Option - 2,3
*/

.wpp-option-list-2 {
    margin-bottom: 30px;
    max-width: 400px;
}

.wpp-option-list-2 .wpp-option-single {
    border-bottom: 1px solid #eee;
    padding: 32px 0;
    display: block;
}

.wpp-option-list-2 .wpp-option-single:last-child {
    border-bottom: 0;
}

.wpp-option-list-2.wpp-circle svg {
    left: -3px;
}

/**
* Poll Option - 4,5
*/

.wpp-option-list-4 {
    margin-bottom: 30px;
    max-width: 400px;
}

.wpp-option-list-4 .wpp-option-single {
    border: 1px solid #eee;
    padding: 25px 20px;
    display: block;
    margin-bottom: -1px
}

.wpp-option-list-4.wpp-custom svg {
    left: 26px;
}

.wpp-option-list-4.wpp-circle svg {
    left: 17px;
}

/**
* Poll Option - 6,7
*/

.wpp-option-list-6 {
    margin-bottom: 50px;
    max-width: 400px;
}

.wpp-option-list-6 .wpp-option-single {
    border-right: 5px solid rgba(0, 0, 0, 0.07);
    border-left: 5px solid rgba(0, 0, 0, 0.07);
    padding: 30px 30px;
    display: block;
    margin-bottom: 30px;
    border-radius: 12px;
}
.wpp-option-list-6.wpp-custom svg {
    left: 37px;
}

.wpp-option-list-6.wpp-circle svg {
    left: 27px;
}

/**
* Poll Option - 8,9
*/

.wpp-option-list-8 {
    margin-bottom: 40px;
    max-width: 400px;
}

.wpp-option-list-8 .wpp-option-single {
    border-left: 6px solid #4caf50;
    padding: 25px 20px;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 5px 20px rgba(0, 26, 169, 0.09);
}

.wpp-option-list-8.wpp-custom svg {
    left: 27px;
}

.wpp-option-list-8.wpp-circle svg {
    left: 17px;
}

/**
* Poll Option - 10,11
*/

.wpp-option-list-10 {
    margin-bottom: 40px;
    max-width: 400px;
}

.wpp-option-list-10 .wpp-option-single {
    padding: 25px 20px;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 5px 20px rgba(0, 26, 169, 0.09);
    background-image: linear-gradient(-225deg, #009688 0%, #89d432 100%);
    color: #fff;
    border-radius: 4px;
}

.wpp-option-list-10.wpp-custom svg {
    left: 27px;
}

.wpp-option-list-10.wpp-circle svg {
    left: 17px;
}

.wpp-custom.wpp-option-list-10 svg path {
    stroke: #fff;
}

.wpp-option-list-10 label::before {
    border-color: #fff;
}
.wpp-option-list-10.wpp-circle label::before {
    background-color: #fff;
}