/**
 * Style - NPS
 */

.nps-single {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.nps-single .nps-container {
    width: 690px;
}

.nps-single .liquidpoll-poll-title {
    text-align: center;
}

.nps-single .liquidpoll-content {
    text-align: center;
}


.nps-single input[type="radio"] {
    display: none;
}

.nps-single ul.liquidpoll-nps-options {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.nps-single ul.liquidpoll-nps-options li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
    border: 1px solid #5f64eb;
    border-radius: 10px;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 1;
    transition: .3s;
}

.nps-single .liquidpoll-nps-score-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nps-single .liquidpoll-nps-score-labels span {
    display: inline-block;
    font-size: 15px;
    color: #000000;
    font-weight: 500;
}

.nps-single ul.liquidpoll-nps-options li label {
    text-align: center;
    display: block;
    line-height: 56px;
    color: #5F64EB;
    font-size: 25px;
    font-weight: 500;
    transition: 0.3s;
}

.nps-single .liquidpoll-comment-box {
    display: none;
}

.nps-single .liquidpoll-comment-box textarea {
    color: #000000;
    background: #F4F4F4;
    border: 1px solid #F4F4F4;
    height: 245px;
    padding: 28px 23px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.nps-single .nps-button-wrap {
    display: flex;
    justify-content: center;
}

.nps-single .nps-button-wrap .liquidpoll-button.liquidpoll-submit-poll {
    margin: 0 auto;
    width: 264px;
    display: none;
}

.nps-single textarea::placeholder {
    color: #ACACAC;
    font-size: 18px;
}


/**
 * Theme 1
 */

.nps-single.theme-1 ul.liquidpoll-nps-options li:hover {
    background: linear-gradient(138.32deg, #5F64EB 23.82%, #946EE6 88.62%);
}

.nps-single.theme-1 ul.liquidpoll-nps-options li:last-child {
    margin-right: 0;
}


.nps-single.theme-1 ul.liquidpoll-nps-options li:hover label {
    color: #FFFFFF;
}


.nps-single.theme-1 .liquidpoll-button {
    font-weight: 500;
    width: 264px;
}


/**
 * Theme 2
 */

.nps-single.theme-2 ul.liquidpoll-nps-options li {
    border: 1px dashed #5f64eb;
    border-radius: 999999px;
}

.nps-single.theme-2 ul.liquidpoll-nps-options li:hover,
.nps-single.theme-2 ul.liquidpoll-nps-options li.active {
    background: linear-gradient(138.32deg, #5F64EB 23.82%, #946EE6 88.62%);
}

.nps-single.theme-2 ul.liquidpoll-nps-options li:last-child {
    margin-right: 0;
}

.nps-single.theme-2 ul.liquidpoll-nps-options li:hover label,
.nps-single.theme-2 ul.liquidpoll-nps-options li.active label {
    color: #FFFFFF;
}

.nps-single.theme-2 .liquidpoll-comment-box textarea {
    background: #FBFBFB;
    height: 210px;
}

/**
 * Theme 3
 */


.nps-single.theme-3 .rangeslider,
.nps-single.theme-3 input[type=range] {
    margin-bottom: 50px;
}

.nps-single.theme-3 .rangeslider__ruler {
    cursor: pointer;
    margin: 20px 0;
    position: relative;
    top: 20px;
    text-align: justify;
    font-size: 16px;
    color: #CCCCD1;
}

.nps-single.theme-3 .rangeslider__ruler:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.nps-single.theme-3 .liquidpoll-comment-box textarea {
    background: #FFFFFF;
    height: 210px;
    border: 1px solid #C9C9C9;
}


/**
 * Theme 4
 */
:root {
    --bgcolor: #866de1;
}

#handle1 {
    display: block;
    margin: 70px auto 30px auto;
}

#handle1 .rs-handle {

    background-color: transparent;
    border: 8px solid transparent;
    border-right-color: #424f6b;
    margin: -10px 0 0 31px !important;
    border-width: 6px 225px 10px 25px;;
    /* position: relative; */
}

#handle1 .rs-border {
    border: 1px solid transparent;
}

#handle1 .rs-handle:before {
    display: block;
    content: " ";
    position: absolute;
    height: 44px;
    width: 44px;
    background: #ffffff;
    right: -22px;
    bottom: -22px;
    border-radius: 50%;
    border: 10px solid #424f6b;
    outline: 10px solid #eeeeee;
    z-index: -5;
}

#handle1 .rs-handle:after {
    display: block;
    content: " ";
    position: absolute;
    height: 30px;
    width: 30px;
    background: var(--bgcolor);
    top: -13px;
    left: 1px;
    border-radius: 50%;
    border: none;
    z-index: -5;
}

.rs-handle[aria-valuenow="100"]:after {
    display: none !important;
}


#handle1 .rs-tooltip {
    top: 75%;
    font-size: 12px;
}

#handle1 .rs-range-color {
    background: linear-gradient(76.51deg, #6165EB 4.74%, #916FDD 100.97%);
}

#handle1 .rs-path-color {
    background-color: #f1f3f5;
}

#handle1 span.rs-number {
    position: absolute;
    top: -8px;
    left: -25px;
    font-size: 15px;
    color: #7E6BE3;
}

.nps-single.theme-4 .liquidpoll-comment-box textarea {
    background: #FFFFFF;
    height: 160px;
    border: 1px solid #E7E7E7;
}