/**
 * Style 1 - Reviews Slider
 */

.slick-list {
    padding-top: 31px;
}

.style-1.slick-next::before {
    background: url(../../images/slider-button-1.svg) no-repeat;
    content: "";
    display: block;
    opacity: 1;
    height: 35px;
    width: 35px;
}

.style-2.slick-next::before {
    background: url(../../images/slider-button-2.svg) no-repeat;
    content: "";
    display: block;
    opacity: 1;
    height: 78px;
    width: 78px;
}

.reviews-slider {
    min-width: 1458px !important;
}

.slider-heading-wrap {
    margin: 50px auto;
}

.slider-heading {
    display: flex;
    justify-content: center;
}

.reviews-slider .slider-heading .rate {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.reviews-slider .slider-heading form.review-stars {
    display: inline-block;
    margin: 0 20px;
}

.reviews-slider .slider-heading span {
    font-size: 29px;
    line-height: 30px;
    color: #000000;
}

.reviews-slider .slider-heading .count {
    display: block;
    font-weight: 700;
    font-size: 29px;
    line-height: 30px;
    color: #5F64EB;
}

.reviews-slider .slider-heading-wrap .rating {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #838383;
    margin: 0;
    padding-top: 15px;
}

.reviews-slider .reviews-wrap {
    display: flex;
    justify-content: center;
}

.single-review {
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    border-radius: 15px;
    width: 272px;
    padding: 68px 0 35px 25px;
    margin-right: 10px;
    position: relative;
}

.single-review .user-avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -31px;
}

.single-review .icon-quote {
    position: absolute;
    right: 25px;
    top: 25px;
}

.reviews-slider form.review-stars {
    display: inline-block;
    margin: 15px 0;
}

.reviews-slider .single-review .rating-wrap .rating-item {
    margin-right: 5px;
}

.reviews-slider .single-review .rating-wrap .rating-item label svg {
    width: 42px;
    height: 42px;
    transform: scale(0.7);
    padding: 0;
}

.reviews-slider .comment-heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
}

.reviews-slider .user-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.reviews-slider .user-location {
    margin: 5px 0;
}

.reviews-slider .user-location .location {
    font-size: 13px;
    line-height: 15px;
    color: #606060;
    margin-left: 5px;
}

.reviews-slider .review-comment {
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
}

.reviews-slider .review-comment p {
    width: calc(100% - 25px);
}

.reviews-slider .review-link {
    font-size: 12px;
    line-height: 14px;
    color: #5F64EB;
}

/**
 * Style 2- Reviews Slider
 */

.reviews-slider.style-2 .slider-heading-wrap {
    display: flex;
    justify-content: center;
}

.reviews-slider.style-2 .slider-heading {
    display: block;
}

.reviews-slider.style-2 .slider-heading .rate-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-slider.style-2 .slider-heading-wrap .slider-heading form.review-stars {
    margin: 10px 0;
}

.reviews-slider.style-2 .slider-heading-wrap .rating-wrap .rating-item label svg {
    width: 75px;
    height: 75px;
    padding: 15px;
    transform: scale(1.3);
}

.reviews-slider.style-2 .slider-heading-wrap .review-count {
    display: flex;
    justify-content: center;
}

.reviews-slider.style-2 .slider-heading-wrap .review-count .count {
    margin-left: 8px;
}


.reviews-slider.style-2 .user-avatar {
    left: 96px;
}

.reviews-slider.style-2 .comment-heading {
    text-align: left;
}

.reviews-slider.style-2 .user {
    text-align: center;
}


/**
 * Style 3- Reviews Slider
 */

.reviews-slider.style-3 .slider-heading {
    flex-direction: column;
    align-items: center;
}

.reviews-slider.style-3 .slider-heading form.review-stars {
    display: inline-block;
    margin: 25px 0;
}

.reviews-slider.style-3 .slider-heading .rating-wrap .rating-item label svg {
    width: 84px;
    height: 84px;
    padding: 20px;
    transform: scale(1.4);
}

.reviews-slider.style-3 .slider-heading .rating-wrap .rating-item label.half {
    width: 42px;
}

.reviews-slider.style-3 .slider-heading .count {
    display: inline-block;
    margin-left: 5px;
}

.reviews-slider.style-3 .single-review {
    padding-top: 20px;
}

.reviews-slider.style-3 .user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: unset;
}

.reviews-slider.style-3 .user {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.reviews-slider.style-3 .user-info {
    margin-left: 10px;
}

.reviews-slider.style-3 .user-name {
    font-size: 15px;
    line-height: 18px;
}

.reviews-slider.style-3 .user-location {
    margin: 0;
    display: flex;
}

/**
 * Style 4 - Reviews Slider
 */

.reviews-slider.style-4 .slider-heading .count {
    display: inline-block;
    margin-left: 5px;
}

.reviews-slider.style-4 .slider-heading form.review-stars {
    margin: 0 0 0 65px;
}

.reviews-slider.style-4 .slider-heading .rating-wrap .rating-item label svg {
    width: 84px;
    height: 84px;
    padding: 20px;
    transform: scale(1.4);
}

.reviews-slider.style-4 .slider-heading .rating-wrap .rating-item label.half {
    width: 42px;
}

.reviews-slider.style-4 .single-review {
    padding: 25px 0 25px 25px;
}

.reviews-slider.style-4 .single-review .review-comment {
    margin-top: 0;
}

.reviews-slider.style-4 .liquidpoll-divider {
    width: calc(100% - 25px);
}

.reviews-slider.style-4 .user {
    display: flex;
    align-items: center;
    margin: 20px 0 0;

}

.reviews-slider.style-4 .user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: unset;
}

.reviews-slider.style-4 .user-info {
    margin-left: 10px;
}

.reviews-slider.style-4 .user-name {
    font-size: 15px;
    line-height: 18px;
}

.reviews-slider.style-4 .user-location {
    margin: 0;
    display: flex;
}

/**
 * Style 5 - Reviews Slider
 */

.reviews-slider.style-5 .slider-heading {
    flex-direction: column;
    align-items: center;
}

.reviews-slider.style-5 .slider-heading form.review-stars {
    display: inline-block;
    margin: 25px 0;
}

.reviews-slider.style-5 .slider-heading .rating-wrap .rating-item label svg {
    width: 84px;
    height: 84px;
    padding: 20px;
    transform: scale(1.4);
}

.reviews-slider.style-5 .slider-heading .rating-wrap .rating-item label.half {
    width: 42px;
}

.reviews-slider.style-5 .slider-heading .count {
    display: inline-block;
    margin-left: 5px;
}

.reviews-slider.style-5 .single-review .review-stars-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-slider.style-5 .single-review .review-stars-wrap .publish-time {
    margin: 0;
}

.reviews-slider.style-5 .single-review {
    padding: 25px;
    width: 412px;
}

.reviews-slider.style-5 .single-review form.review-stars {
    margin: 10px 0;
}
.reviews-slider.style-5 .single-review .comment-heading{
    font-size: 20px;
}
.reviews-slider.style-5 .single-review .review-comment {
    font-size: 17px;
    line-height: 27px;
    margin: 10px 0;
}

.reviews-slider.style-5 .single-review .review-comment p {
    margin: 0;
}

.reviews-slider.style-5 .user {
    display: flex;
    align-items: center;
    margin: 20px 0 10px 0;

}

.reviews-slider.style-5 .user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: unset;
}

.reviews-slider.style-5 .user-info {
    margin-left: 10px;
}

.reviews-slider.style-5 .user-name {
    font-size: 15px;
    line-height: 18px;
}

.reviews-slider.style-5 .user-location {
    margin: 0;
    display: flex;
}

/**
 * Style 1 - Reviews Tiles
 */

.reviews-tiles.style-1 .slider-heading .rate {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.reviews-tiles.style-1 .slider-heading .count {
    display: inline-block;
    margin-left: 5px;
}

.reviews-tiles.style-1 .slider-heading form.review-stars {
    margin: 0 0 0 65px;
}

.reviews-tiles.style-1 .slider-heading .rating-wrap .rating-item label svg {
    width: 84px;
    height: 84px;
    padding: 20px;
    transform: scale(1.4);
}

.reviews-tiles.style-1 .slider-heading .rating-wrap .rating-item label.half {
    width: 42px;
}

.reviews-tiles.style-1 .reviews-wrap {
    margin: 110px 0 80px;
}

.reviews-tiles.style-1 .single-review .rating-wrap .rating-item label svg {
    width: 42px;
    height: 42px;
    transform: scale(0.7);
    padding: 0;
}

.reviews-tiles.style-1 form.review-stars {
    display: inline-block;
    margin: 15px 0;
}

.reviews-tiles.style-1 .single-review .rating-wrap .rating-item {
    margin-right: 5px;
}

.reviews-tiles.style-1 .single-review .rating-wrap .rating-item label svg {
    width: 42px;
    height: 42px;
    transform: scale(0.7);
    padding: 0;
}

.reviews-tiles.style-1 .comment-heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
}

.reviews-tiles.style-1 .user-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.reviews-tiles.style-1 .user-location {
    margin: 5px 0;
}

.reviews-tiles.style-1 .user-location .location {
    font-size: 13px;
    line-height: 15px;
    color: #606060;
    margin-left: 5px;
}

.reviews-tiles.style-1 .review-comment {
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
}

