@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/**
 * Style - Reviews
 */

.reviews-single {
    margin: 50px 0;
}

.reviews-single .reviews-main {
    max-width: 860px;
    margin: auto;
}

.reviews-main .liquidpoll-reviews-rating {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 32px 30px 26px 30px;
}

.liquidpoll-reviews-rating .user-meta {
    display: flex;
    align-items: center;
}

.liquidpoll-reviews-rating .user-meta .avatar {
    max-width: 80px;
    max-height: 80px;
}

.liquidpoll-reviews-rating .user-meta .avatar img {
    border-radius: 50%;
}

.liquidpoll-reviews-rating .user {
    padding-left: 20px;
}

.liquidpoll-reviews-rating .user span.user-name {
    display: block;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.liquidpoll-reviews-rating .user span.user-reviews-count {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #5F64EB;
}

/**
 * Rating Start
 */
.reviews-main .rating-wrap input[type=radio] {
    display: none;
    width: 0;
    opacity: 0;
    margin-left: -2px;
}

.reviews-main .rating-wrap .rating-item {
    display: inline-block;
    position: relative;
    float: right;
    padding: 10px;
    background: #CED0EB;
    border-radius: 10px;
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.reviews-main .rating-wrap .rating-item label {
    float: right;
    cursor: pointer;
    margin: 0;
}

.reviews-main .rating-wrap .rating-item label svg {
    fill: #CED0EB;
    color: transparent;
    transition: 0.3s;
    width: 42px;
    height: 42px;
    stroke: white;
    stroke-width: 3;
    display: inherit;
}

.reviews-main .rating-wrap .rating-item label.half {
    overflow: hidden;
    position: absolute;
    width: 21px;
}

.reviews-main .rating-wrap .rating-item label.half svg {
    fill: none;
}

.reviews-main .rating-wrap .rating-item label:hover svg,
.reviews-main .rating-wrap .rating-item label:hover ~ label svg,
.reviews-main .rating-wrap .rating-item label:hover ~ label.half svg,
.reviews-main .rating-wrap .rating-item label.half:hover svg,
.reviews-main .rating-wrap input[name=star]:focus ~ label svg,
.reviews-main .rating-wrap input[name=star]:checked ~ label svg,
.reviews-main .rating-wrap .rating-item:hover ~ .rating-item label svg,
.reviews-main .rating-wrap .rating-item.active ~ .rating-item label svg {
    fill: #8488F0;
}

.reviews-main .rating-wrap .rating-item:hover,
.reviews-main .rating-wrap .rating-item:hover ~ .rating-item,
.reviews-main .rating-wrap .rating-item.active,
.reviews-main .rating-wrap .rating-item.active ~ .rating-item {
    background: #8488F0;
}

