/*
Admin css
*/

#poll_metabox #post_title {
    width: 100%;
    padding: 8px 12px;
    line-height: 20px;
}

.poll-options .poll-option-single {
    background: #ff98003b;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}

.poll-option-controls {
    position: absolute;
    top: 20px;
    right: 20px;
}

.poll-option-controls > span {
    background: #1199abe8;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.poll-option-controls > span i {
    position: relative;
    left: 2px;
}

.poll-option-controls > span.option-move {
    cursor: move;
}

.poll-option-controls > span:hover {
    background: #176a75e8;
}

.poll-option-controls > span.option-remove {
    background: #ff5722;
}

.poll-option-controls > span.option-remove:hover {
    background: #da4617;
}

.poll-option-controls > span.option-external {
    background: none;
    color: #2f2f2f;
}


.post-type-poll .wps-field fieldset label {
    display: block;
    margin-bottom: 10px;
}

.post-type-poll .wps-field fieldset br {
    display: none;
}


/**
 * Chart Reporting
 */

#wpp-chart-report {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
    max-width: 795px;
    margin: 10px auto 20px auto;
}


/**
 * Widgets
 */

.widget-inside .wps-field {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.widget-inside .wps-field > label {
    font-size: 13px;
}

.widget-inside .wps-field .wps-field-inputs {
    margin: 0;
    min-width: 0;
    width: 75%;
}

.widget-inside .wps-field .wps-field-inputs select,
.widget-inside .wps-field .wps-field-inputs input {
    width: 100%;
    max-width: 100%;
}

a.wpp-preview-link,
a.wpp-preview-link:active,
a.wpp-preview-link:focus,
a.wpp-preview-link:hover {
    margin-left: 10px;
    text-decoration: none;
    color: #FF5722;
    outline:none;
    box-shadow:none;
}

