/*
* Admin css
*/
:root {
    --sliderxwoo-primary-color: #774ea9;
    --sliderxwoo-red-color: #ff6a5f;
    --sliderxwoo-primary-color-dim: #e3dbed;
    --wpdk_settings-primary-color: var(--sliderxwoo-primary-color);
    --wpdk_settings-primary-color-dim: var(--sliderxwoo-primary-color-dim);
}

body.post-type-poll #titlediv #title, body.post-type-poll #titlediv #title:focus {
    padding: 12px 8px;
    height: auto;
    border-radius: 3px;
    border: 1px solid #774ea952;
    outline: none;
    box-shadow: none;
    margin-bottom: 10px;
}

body.post-type-poll #titlediv #title-prompt-text {
    padding: 17px 10px;
}

body.post-type-poll #submitdiv {
    box-shadow: 3px 5px 15px 5px rgb(0 0 0 / 7%);
    border: none;
}

body.post-type-poll #submitdiv .postbox-header, body.post-type-poll #submitdiv .handlediv, body.post-type-poll #submitdiv .hndle {
    display: none;
}

.liquidpoll-no-display {
    display: none;
}

#poll_metabox #post_title {
    width: 100%;
    padding: 8px 12px;
    line-height: 20px;
}

#poll_metabox .liquidpoll-add-poll-option {
    position: relative;
    text-align: center;
    min-width: 180px;
    padding: 8px 21px;
    font-size: 18px;
    background: #007cba;
    border-width: 0;
    color: #fff;
    text-indent: 10px;
}

#poll_metabox .liquidpoll-add-poll-option:after {
    content: '+';
    position: relative;
    padding-left: 8px;
    font-size: 28px;
    line-height: 13px;
    top: 2px;
}

.poll-options .poll-option-single {
    background: #f1f1f1;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}

.poll-option-controls {
    position: absolute;
    top: 20px;
    right: 20px;
}

.poll-option-controls > span {
    background: #1199abe8;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
    width: 36px;
    height: 36px;
    line-height: 36px;
}

.poll-option-controls > span.option-move {
    cursor: move;
}

.poll-option-controls > span.option-shortcode {
    background: #607d8be8;
}

.poll-option-controls > span.option-shortcode:hover {
    background: #435863e8;
}

.poll-option-controls > span:hover {
    background: #176a75e8;
}

.poll-option-controls > span.option-remove {
    background: #ff5722;
}

.poll-option-controls > span.option-remove:hover {
    background: #da4617;
}

.poll-option-controls > span.option-external {
    color: #2f2f2f;
    text-align: center;
    padding-top: 5px;
    background: transparent;
}

.poll-option-controls > span.option-external > span {
    font-size: 32px;
    width: 100%;
}

.post-type-poll .wps-field fieldset label {
    display: inline-block;
    margin-bottom: 10px;
}

.post-type-poll .wps-field fieldset label input[type="checkbox"], .post-type-poll .wps-field fieldset label input[type="radio"] {
    margin-top: -2px;
    margin-right: 8px;
}

/**
 * Chart Reporting
 */
#liquidpoll-chart-report {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
    max-width: 795px;
    margin: 20px;
}

/**
 * Widgets
 */
.widget-inside .wps-field {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.widget-inside .wps-field > label {
    font-size: 13px;
}

.widget-inside .wps-field .wps-field-inputs {
    margin: 0;
    min-width: 0;
    width: 75%;
}

.widget-inside .wps-field .wps-field-inputs select, .widget-inside .wps-field .wps-field-inputs input {
    width: 100%;
    max-width: 100%;
}

a.liquidpoll-preview-link, a.liquidpoll-preview-link:active, a.liquidpoll-preview-link:focus, a.liquidpoll-preview-link:hover {
    margin-left: 10px;
    text-decoration: none;
    color: #FF5722;
    outline: none;
    box-shadow: none;
}

/**
 * Notices
 */
.liquidpoll-notice {
    background: #00bcd43b;
    padding: 10px;
    border-left: 3px solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.liquidpoll-notice.liquidpoll-warning {
    background: #ff98003b;
}

.liquidpoll-notice.liquidpoll-error {
    background: #ff57223b;
}

.liquidpoll-notice.liquidpoll-success {
    background: #4caf503b;
}

.wps-field.count-down-selection .image-select > label {
    width: 160px;
}

.wps-field.image_select a.liquidpoll-preview-link {
    margin-left: 0;
}

span.shortcode {
    background: #f1f1f1;
    border: 1px solid #a2a2a2;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
    color: #868686;
}

.row-actions .go-pro a {
    color: #E91E63;
    font-weight: 600;
}

/**
 * Extensions
 */
.pb-extensions {
    padding: 25px;
}

.pb-extensions .pb-extension {
    display: inline-block;
    width: 33%;
    max-width: 370px;
    margin: 0 30px 30px 0;
    vertical-align: top;
}

.pb-extensions .pb-extension:nth-child(3n+0) {
    margin-right: 0;
}

.pb-extensions .pb-extension > a > img {
    vertical-align: bottom;
}

.pb-extensions .pb-extension .info {
    padding: 25px 20px;
    box-shadow: 0 5px 20px 5px #ddd;
    background: #fff;
}

.pb-extensions .pb-extension .info h2 {
    margin-top: 0;
}

.pb-extensions .pb-extension .info h2 > a {
    text-decoration: none;
    color: #4e4e4e;
}

.pb-extensions .pb-extension .info p {
    font-size: 14px;
    line-height: 1.6;
}

.pb-extensions .pb-extension .info .pricing {
    margin-top: 8px;
    display: inline-block;
}

.pb-extensions .pb-extension .info .pricing a.price, .pb-extensions .pb-extension .info .pricing a.price:focus, .pb-extensions .pb-extension .info .pricing a.price:hover, .pb-extensions .pb-extension .info .pricing a.price:active {
    background-color: #e65550;
    background-image: linear-gradient(-100deg, #424242d9, transparent);
    padding: 8px 15px;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

a.liquidpoll-support, a.liquidpoll-support:focus, a.liquidpoll-support:active, a.liquidpoll-doc, a.liquidpoll-doc:focus, a.liquidpoll-doc:active, a.liquidpoll-account, a.liquidpoll-account:focus, a.liquidpoll-account:active {
    background: #e61f63;
    color: #fff;
    padding: 3px 12px 5px;
    border-radius: 50px;
    font-size: 12px;
    outline: none;
    box-shadow: none;
    border: none;
}

a.liquidpoll-doc {
    background: #292929;
}

a.liquidpoll-account {
    background: #774ea9;
}

.pbsettings-section[data-section-id="reports"] {
    padding: 30px;
}

.pbsettings-section[data-section-id="reports"] .notice {
    margin: 5px 5px 20px 0;
}

.pbsettings-section[data-section-id="reports"] .liquidpoll-reports-field label {
    margin-right: 15px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

.poll_page_reports th#id {
    width: 30px;
}

.poll_page_reports th#poll {
    width: 28%;
    min-width: 170px;
}

.poll_page_reports th#polled_by {
    width: 15%;
    min-width: 150px;
}

.poll_page_reports th#polled_comments {
    width: 14%;
    min-width: 200px;
}

.poll_page_reports th#poller_name {
    min-width: 100px;
    width: 6%;
}

.poll_page_reports th#poller_email {
    min-width: 200px;
}

.poll_page_reports th#consent {
    width: 60px;
}

.poll_page_reports .row-actions .type {
    background: #607d8b;
    color: #fff;
    padding: 2px 8px 3px;
    font-size: 13px;
    line-height: 23px;
    text-transform: capitalize;
    border-radius: 50px;
}

.poll_page_reports .row-actions .type.nps {
    background: #2196f3;
    text-transform: uppercase;
}

.poll_page_reports .row-actions .type.reaction {
    background: #9c27b0;
}

.poll_page_reports .row-actions .type.reviews{
    background: #5F64EB;
}

.poll_page_reports .liquidpoll-report-export {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.poll_page_reports .liquidpoll-report-export .dashicons {
    font-size: 18px;
    line-height: 23px;
    margin-right: 5px;
}

.poll_page_reports .liquidpoll-export-form.disabled .liquidpoll-report-export {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #868686;
    border-color: #868686;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
}

.poll_page_reports .liquidpoll-export-form.disabled .liquidpoll-report-export {
    position: relative;
    cursor: not-allowed;
    pointer-events: none;
}

.poll_page_reports .liquidpoll-export-form.disabled .liquidpoll-report-export:after {
    content: 'pro';
    position: absolute;
    top: 0;
    right: -36px;
    text-transform: uppercase;
    color: red;
}

.poll_page_reports .polled_value img {
    max-width: 36px;
}

.liquidpoll-sort-form input[name="date_1"].no-display, .liquidpoll-sort-form input[name="date_2"].no-display {
    display: none;
}

.liquidpoll-sort-form input[name="date_1"], .liquidpoll-sort-form input[name="date_2"] {
    width: 98px;
    font-size: 12px;
    line-height: 22px;
}

span.poll-type {
    background: var(--sliderxwoo-primary-color);
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 22px;
    text-transform: capitalize;
    border-radius: 3px;
}

span.poll-type.type-reaction {
    background: #0690ce;
}

span.poll-type.type-nps {
    background: #795548;
    text-transform: uppercase;
}

span.poll-type.type-reviews {
    background: #5F64EB;
}

.wpdk_settings-section[data-section-id="reports"] .liquidpoll-reports-field {
    padding: 15px 0 0 15px;
}

/**
 * Results edit screen
 */
.liquidpoll-result-edit {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.liquidpoll-result-edit .liquidpoll-result-details {
    width: 50%;
}

.liquidpoll-result-edit .liquidpoll-result-details .liquidpoll-edit-item {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #dedede;
    background: #fff;
}

.liquidpoll-result-edit .liquidpoll-result-details .liquidpoll-edit-item:last-child {
    border-bottom: none;
}

.liquidpoll-result-edit .liquidpoll-result-details .liquidpoll-edit-item .item-title {
    width: 30%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.liquidpoll-result-edit .liquidpoll-result-details .liquidpoll-edit-item .item-value {
}

.liquidpoll-result-edit .liquidpoll-result-replies {
    margin-left: 30px;
    background: #fff;
    width: calc(50% - 90px);
    padding: 30px;
}

.liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box {
}

.liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box .textarea-wrap {
    margin-bottom: 20px;
}

.liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box .textarea-wrap > label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
}

.liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box .textarea-wrap > textarea, .liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box .textarea-wrap > textarea:focus, .liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box .textarea-wrap > textarea:active {
    width: 100%;
    border: 1px solid #c3c3ff;
    box-shadow: none;
    outline: none;
    padding: 10px;
}

.liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box .liquidpoll-button, .liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box .liquidpoll-button:focus, .liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box .liquidpoll-button:active {
    background: #5F64EB;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    border: none;
}

.liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box.loading .liquidpoll-button {
    padding-right: 60px;
}

.liquidpoll-result-edit .liquidpoll-result-replies .liquidpoll-reply-box.loading .liquidpoll-button:after {
    content: ' ';
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 4px solid #ffffff;
    border-right-color: #41ea48;
    animation: loading 1s linear infinite;
    margin: -11px -11px;
}

.liquidpoll-result-edit .liquidpoll-replies {
}

.liquidpoll-result-edit .liquidpoll-replies .liquidpoll-reply {
    /* border-bottom: 1px solid rgb(95 100 235 / 34%); */
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.liquidpoll-result-edit .liquidpoll-replies .liquidpoll-reply .reply-author {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.liquidpoll-result-edit .liquidpoll-replies .liquidpoll-reply .reply-author .author-image {
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #f2f2ff;
    box-shadow: 0 0 20px rgb(95 100 235 / 17%);
}

.liquidpoll-result-edit .liquidpoll-replies .liquidpoll-reply .reply-author .author-image img {
    width: 100%;
}

.liquidpoll-result-edit .liquidpoll-replies .liquidpoll-reply .reply-author .author-details {
}

.liquidpoll-result-edit .liquidpoll-replies .liquidpoll-reply .reply-author .author-details .author-name {
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
}

.liquidpoll-result-edit .liquidpoll-replies .liquidpoll-reply .reply-author .author-details .reply-time {
    margin: 0 0 0 0;
}

.liquidpoll-result-edit .liquidpoll-replies .liquidpoll-reply .reply-content {
    background: #f2f2ff;
    padding: 0 12px;
    display: inline-block;
    margin: 20px 0 0 0;
    border-radius: 4px;
    width: calc(100% - 24px);
}

.liquidpoll-result-edit .liquidpoll-replies .liquidpoll-reply .reply-content * {
    font-size: 14px;
    line-height: 21px;
}

.liquidpoll-result-edit .liquidpoll-result-reports {
    width: 50%;
    margin: 30px 0;
    background: #fff;
}

.liquidpoll-result-edit .liquidpoll-result-reports h2{
    margin-left: 20px;
}

.liquidpoll-result-edit .liquidpoll-review-report {
    margin: 20px 0 20px 20px;
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .liquidpoll-reply {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .reply-author {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .reply-author .author-image {
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #f2f2ff;
    box-shadow: 0 0 20px rgb(95 100 235 / 17%);
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .author-details .author-name {
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .reply-author .author-image img {
    width: 100%;
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .reply-author .author-details .reply-time {
    margin: 0 0 0 0;
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .liquidpoll-reply .reply-content {
    background: #f2f2ff;
    padding: 0 12px;
    display: inline-block;
    margin: 20px 0 0 0;
    border-radius: 4px;
    width: calc(100% - 24px);
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .reply-author .author-details .author-name {
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .liquidpoll-edit-item {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #dedede;
    background: #fff;
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .item-title {
    width: 30%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.liquidpoll-result-edit .liquidpoll-result-reports .liquidpoll-review-report .liquidpoll-edit-item:last-child {
    border-bottom: none;
}

@keyframes loading {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
